<!doctype html>
<html>

<head>
	<title>Práctica 1 - CER</title>
</head>

<body>
	<h1>Página principal</h1>
	<h2>Número aleatorio: {{ random_num }}</h2>
	<p><i>{{ msg }}</i></p>
	<form action="./register" method="GET">
		<input type="submit" value="REGISTER" id="register_submit" />
	</form>
	<form action="./login" method="GET">
		<input type="submit" value="LOGIN" id="login_submit" />
	</form>
	<form action="./exit" method="GET">
		<input type="submit" value="EXIT" id="exit_submit" />
	</form>
</body>

</html>